:root{
    /*--scene1--:none;*/
    --scene2--:none;
    --scene3--:none; 
}

*{
    margin:0;
    padding:0;
}

body{
    background-image:url('/G2022/assets/woodBg.svg');
    background-size:cover;
    background-repeat:no-repeat;
    
    width:auto;
    height:auto;
    width:100vw;
    height:100vh;

    display:flex;
    align-items:center;
    justify-content:center;
}

#scene1{
    display:var(--scene1--);
    width:50%;
    border:1px solid black;
}
.images{
    display:flex;
    justify-content:left;
    align-items:center;
    flex-wrap:nowrap;    

    padding:2px;
    background-color:#00000031;
    height:fit-content;
    overflow-x:scroll;
    overflow-y:hidden;
}

#scene2{
    display:var(--scene2--);
    width:70%;
    height:auto;
    border:1px solid black;

    flex-direction:column;
    justify-content:center;
    align-items:center;
}

img{
    --imgW:60%;
    width:var(--imgW);
    margin-right:2px;
}

#scene3{
    position:relative;
    display:var(--scene3--);
    flex-wrap:wrap;
    

    border:1px solid black;
    /* width: 100vh;
    height:80vh; */
}

#canvas{
    background-color:black;
    /* display:flex; */
    display:none;
    justify-content:center;
    align-items: center;
}
/* .p5Canvas{
} */
/* .images img:hover{ 
    width:calc(100px*1.1);
    height:calc(80px*1.1);

} */


/* ul{
    list-style: square url('/images/puzzle app/ul image.png');
    

} */

#count{
    display:block;
    /* position:fixed; */
    /* left:50%; */
    /* top:50%; */
    text-align: center;

}