*{
    margin:0px;
}
nav{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}


#overlap{
    background-color:#aaaaaa55;
    position:absolute;
    float:right;
}

span{
    /* display:grid; */
    display:flex;
    justify-content:row;
    align-items: center;
    width:auto;

}

#pieceContainer {
    background-color: #814114;
    width: auto;
    height:100vh;
    overflow: scroll;
    padding:5px;

}::-webkit-scrollbar {
    display: none;
  }


#pieceContainer div {
    width: 100%;
    height:auto;
}

img {
    width:100%;
    height:100%;
}



canvas {
    width:100%;
    height:100%;
}

body{
    display:grid;
    grid-template-columns: 25% 1fr;
}