* {
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% 1fr;
  height: 100vh;
}
nav {
  display: flex;
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: #aaaaaa55;
}
span {
  /* display:grid; */
  display: flex;
  justify-content: row;
  align-items: center;
  width: auto;
}
#pieceContainer {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #814114;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
}
#pieceContainer div {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 5%;

  border: 2px solid rgba(255, 217, 0, 0.573);
  border-radius: 5%;
  box-shadow: 0 0 5px rgb(200, 170, 0), inset 0 0 5px rgb(200, 170, 0);

  padding: 5px;
}
.pieceCount {
  background-color: rgb(0, 0, 93);
  color: yellow;
  float: right;
  margin-left: auto;
  margin-right: 0;
  height: auto;
  padding: 3%;
  aspect-ratio: 2 / 2;

  border-radius: 50%;
  top: 5px;
  right: 5px;
  position: absolute;
}
.pieceCount p {
  color: yellow;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  display: none;
}
#canvas {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/-1;
}

#Loading {
  position: absolute;
  bottom: 2%;
  right: 0px;
  height: auto;
  width: auto;
}

img {
  width: 100%;
  height: 100%;
}
#container {
  position: absolute;
  display: block;
  grid-template-rows: 1fr 1fr;
  left: 50%;
  top: 20%;
  text-align: center;
  width: auto;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 5px;
  box-sizing: content-box;
  border: 2px solid yellow;
}
#raycasting,
#errorContainer {
  border: 1px solid black;
  padding: 5px;
}
