body{
    background-color: rgb(27, 27, 27);
    height:auto;
    padding:2%;
    display:flex;
    flex-direction: column;
    align-items: center;

}
h1{
    margin-bottom:5%;
    background-color:black;
    padding:5px 30%;
    color:white;
    font-size:3em;
    border:1px solid green;
    box-shadow: inset 0px 0px 10px green, 0px 0px 10px green;

}
#levels{
    margin:auto;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap:5%;
    color:white;
    width:80%;

    margin-bottom: 100px;

}
#levels a{   
    text-decoration: none;
    background-color: black;
    margin:auto;
    width:auto; 
    height:auto;

    border: 1px solid purple;
    box-shadow: inset 0px 0px 10px purple, 0px 0px 10px purple;

    color:rgba(255, 255, 255, 0.784);
    font-size: 250%;
    aspect-ratio: 1/1;
    display:flex;
    justify-content: center;
    align-items: center;
}