body {
  padding: 0px;
  margin: 0px;
  height: auto;
  background-color: black;
}
#levels {
  width: 100%;
  /* height:auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: auto;
  padding-bottom: 2%;
}

#levels a {
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
  height: auto;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin-top: 2%;
  font-size: 200%;
  border-radius: 10%;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.levels {
  margin-left: 5%;
  font-size: 0.5em;
  color: darkgrey;
  font-size: auto;
}
