*{
    margin:0px;
    padding:0px;
}

.btns{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:absolute;
    background:red;
    left:0px;
    top:0px;
    padding:2px;
    display:none;
}

button{
    z-index:10;
}

img{
    width:100%;
}

#selectionMenu{
    width:20%;
    position:absolute;
    right:0px;
    top:0px;
    background-color:rgba(170, 170, 170, 0.278)
}

#test{
    position:absolute !important;
    display:none;
    left:0px;
    top:0px;
    color:rgb(255, 102, 0);
}