*{
    margin:0px;
    padding:0px;
}

.btns{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:absolute;
    background:red;
    left:0px;
    top:0px;
    padding:2px;
    display:none;
}

button{
    z-index:10;
    font-size:100%;
    border-radius:10%;
    margin: 2px;
}

img{
    width:100%;
}

#selectionMenu{
    width:20%;
    position:absolute;
    right:0px;
    top:0px;
    background-color:rgba(170, 170, 170, 0.278)
}

#test{
    position:absolute !important;
    display:none;
    left:0px;
    top:0px;
    color:rgb(255, 102, 0);
}

body{
    overflow:hidden;
}


p{
    position:absolute;
    z-index:100;
    left:0px;
    top:0px;
    background-color: white;
    padding:1%;
    border-radius: 5px;
}