:root {
  --shadow: rgb(255, 255, 255);
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background: rgb(0, 0, 0);
  left: 0px;
  top: 0px;
  padding: 2px;
  display: none;
  padding: 3px;
  border-radius: 5%;
  box-shadow: inset 0px 0px 20px rgb(0, 255, 81);
}

button {
  z-index: 1;
  font-size: 100%;
  border-radius: 10%;
  margin: 2px;
  background-color: white;
}

img {
  width: 100%;
}

#selectionMenu {
  -webkit-user-select: auto;
  user-select: all;
  -ms-touch-action: auto;
  touch-action: auto;
  width: 15%;
  height: 100%;
  border-left: 2px solid black;

  position: absolute;
  right: 0px;
  top: 0px;
  background-color: rgba(170, 170, 170, 0.278);

  z-index: 2;

  overflow-y: scroll !important;
}

#selectionMenu div {
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: 10%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
#selectionMenu div:last-child {
  margin-bottom: 15%;
}

#selectionMenu svg {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 6%;
}
svg.active {
  border: 1px solid var(--shadow);
  box-shadow: 0 0 5px var(--shadow), inset 0 0 5px var(--shadow);
}

#test {
  position: absolute !important;
  display: none;
  left: 0px;
  top: 0px;
  color: rgb(255, 102, 0);
}

p {
  background-color: white;
  padding: 1%;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

#tl {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  height: auto;
  align-items: center;
  padding: 10px;
}

#backBtn {
  z-index: 20;
  background-color: rgb(0, 0, 0);
  width: 4.5em;
  height: 100%;
  font-size: 1.2em;
  padding: 5px 0;
  border: 1px solid white;
  box-shadow: inset 0 0 5px white, 0 0 5px white;
  color: white;
  text-align: center;
  text-decoration: none;
}
#stats {
  margin-left: 10px;
  text-align: left;
  font: size 1.2em;
  /* height:1.5em; */
  width: 5em;
  display: flex;
  align-items: center;
  border-radius: 2px;
  border: 2px solid rgb(0, 0, 0);
}

#checkCards {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
  display: none;
}
#checkCards2 {
  position: absolute;
  left: 0px;
  top: 200px;
  z-index: 100;
  display: none;
}
#completeTarget {
  position: absolute;
  background-color: aqua;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  display: none;
}

#imgs {
  position: absolute;
  z-index: 200;
  right: 10px;
  top: 0px;
  display: none;
}
#imgs img {
  width: 100px;
  height: 100px;
  display: none;
}

#completeCards {
  position: absolute;
  left: 0px;
  top: 200px;
  z-index: 300;
  display: none;
}

#win {
  position: absolute;
  left:50%;
  top: 23%;
  z-index: 500;
  transform: translateX(-50%);
  background: rgb(0, 0, 0);
  border: 1px solid yellow;
  box-shadow: inset 0 0 10px yellow, 0 0 10px yellow;
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 100%;
  width: fit-content;
  max-width: 50%;
  display: block;
}

.dotsCard {
  display: none;
}

@media screen and (max-width: 600px) {
  #selectionMenu,
  p#stats {
    display: none !important;
  }
}
