*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffebce;
  text-align: center;
  font-size: 16px;
  font-family: 'Times New Roman', sans-serif;
}
header, footer {
  background-color: #007a54;
  color: #f8f6f1;
  padding: 1em;
}
footer {
  margin-top: 1.2em;
}
.notHomeH {
  display: grid;
  grid-template-columns: 0 1fr 1em;
  text-align: center;
}
div {
  width:  90%;
  margin: 0 auto;
}
img {
  border: 5px solid #ff0a74;
  margin-top: 1.2em;
  width: 100%;
  height: auto;
}
a {
  color: #0a0a0a;
  font-size: 1em;
  text-decoration-line: none;
  margin-bottom: 1em;
}
/*********************Waterfalls****************************************/
nav {
  width: 3em;
}
nav img {
  width: 100%;
  border: none;
}
/*************************Medium Css**************************************/
@media only screen and (min-width: 32.5em){
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
}
/*************************Large Css**************************************/
@media only screen and (min-width: 64em){
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}