*{
  padding:0px;
  margin:0px;
}
body {
  margin: 0;
  text-align: center;
  overflow: hidden;
}
#container {
  position: relative;
  /* margin: auto; */
  background-color: black;
}
.player,
.block,
.coin {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat:no-repeat;
  background-size:cover;
}
.block {
  background-color: blue;
  /* background-image: url("../../../images/Platformer/rock4.svg"); */

}
.player {

  background-color: red;
}
.coin {
  background-color: yellow;
}
#cCount{
  display:block;
  position:absolute;
  background-color: white;
  top:0px;
  text-align:left;
  min-width:50px;
  z-index:2;
  padding:0px 5px;
}