.customImgs{
  background-color: blanchedalmond;
  padding:5px;

  display:flex;
  flex-direction: row;
  justify-content:left;

  overflow-x: scroll;
}
.customImgs img{
  background-color:blue;
  width:100px;
  height:100px;
  margin-left:5px;
}
.checkboxes{
  width:auto;
  display:flex;
  align-items: center;
}
input[type="checkbox"]{
  margin-left:10px;
}