:root{
    --p:100vw ;
}
*{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* -ms-touch-action: none; */
    /* touch-action: none; */
}
#maps{
    display:grid;
    grid-template-columns: repeat(3 , var(--p));
    grid-template-rows: repeat(3,calc(var(--p)/0.6945454545454546));
}
img{
    width:100%;
}


#pos{
    position:fixed;
    left:1em;
    top:1em;
    background-color:rgba(192, 192, 192, 0.885);
    padding:10px;
    display:none;
}

#maps div {
    position:relative;
}
#maps div div {
    position: absolute;
    top: 5%;
    color:rgba(0, 0, 0, 0.175);
    width: 100%;
    text-align: center;
}